/* Make full width on small screens */
.header,
.footer,
.jumbotron {
  margin-left: -15px;
  margin-right: -15px;
}
.padder { padding: 0 15px; }

.header,
.footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Make full width on small screens */
.jumbotron {
  text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Customize container */
  .container {
    max-width: 735px;
  }

  /* return normal spacing */
  .header,
  .footer,
  .jumbotron {
    margin-left: 0;
    margin-right: 0;
  }
  .padder { padding: 0; }

}
