.cover-wrapper {
  background-image: url(http://placekitten.com/g/1800/1200); 
}
.demo-bg-image {
  background-image: url(http://placekitten.com/1600/1600); 
}
.demo-bg-image-2 {
  background-image: url(http://placekitten.com/1920/1080); 
}